<div class="contact">
<br>
<div class="contaier">
  <div>
    <h5>Godziny pracy:</h5>
    <ul style="list-style-type: none">
      <li>poniedziałek - piątek: <b>09:00-18:00</b></li>
      <li>sobota: <b>10:00-19:00</b></li>
      <li>niedziela: <b>11:00-19:00</b></li>
    </ul>
    <br>
    <h5>Adres:</h5>
    <ul style="list-style-type: none">
      <li>Błonia 10/5</li>
      <li>30-551 Kraków</li>
      <li>tel: +48 123123123</li>
      <li><a href="mailto:adresadresadres123@testy.com">adresadresadres123@testy.com</a></li>
    </ul>
  </div>
  <div class="map">
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
</div>
</div>
