<div class="main">
<br>
<div class="container">
      <h3>Wypożyczalnia rowerów - TANDEM.</h3>
    <br>
    <p>Wypożyczalnia mieści się w centrum Krakowa. Założona w 1988 roku. <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum odit quaerat sapiente suscipit tempora voluptas! Ad molestias odit voluptates? Architecto, corporis delectus error eveniet expedita molestias officiis repellendus vel voluptatem. At, autem blanditiis consectetur deleniti dolor error fugiat libero nostrum odio, omnis placeat possimus quia sequi sint totam ullam?</p>
  <div class="row">
    <div class="col"><img class="rounded-3" src="assets/images/1.jpg" alt=""></div>
    <div class="col"><img class="rounded-3" src="assets/images/2.jpg" alt=""></div>
    <div class="col"><img class="rounded-3" src="assets/images/3.jpg" alt=""></div>
  </div>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae consequatur deserunt dicta ex, hic nihil quam quasi recusandae soluta tenetur veritatis, voluptatibus! Assumenda consectetur cupiditate iste magnam neque quisquam repellendus veniam, voluptatum? Accusamus aspernatur enim harum laboriosam odit porro quisquam totam vitae! Aliquam atque debitis laudantium nostrum quae quia quisquam quod repudiandae rerum sit? Autem blanditiis cumque dolorum nostrum qui velit veritatis? Aliquam asperiores beatae blanditiis consequatur delectus deleniti dolor dolore dolorem dolorum ducimus eaque enim ex facere facilis ipsum iste maiores minima minus molestiae mollitia neque nisi odio, odit omnis perferendis quaerat rem repellat sapiente, sed similique. Quisquam.</p>
  </div>
</div>
